@using DoAn_Auction.Models;
@model List<User>
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section js
{

    <script type="text/javascript">

    </script>
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Người dùng</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Người dùng</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách người dùng
            </div>
            <div class="panel-body">
                <table data-toggle="table" @*data-url="tables/data1.json"*@ data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" @*data-sort-name="prid" data-sort-order="asc"*@>
                    <thead>
                        <tr>
                            @*<th data-field="state" data-checkbox="true">Cat ID</th>*@
                            <th data-field="username" data-sortable="false">Username</th>
                            <th data-field="name" data-sortable="false">Họ tên</th>
                            <th data-field="email" data-sortable="false">Email</th>
                            <th data-field="status" data-sortable="false">Tình trạng</th>
                            <th data-field="action" data-sortable="false" data-align="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model)
                        {
                            <tr class="accept">
                                @*<td></td>*@
                                <td>@u.f_Username</td>
                                <td>@u.f_Name</td>
                                <td>@u.f_Email</td>
                                @if (u.f_Level > 0)
                                {
                                    <td>Đang được sử dụng</td>
                                }
                                else
                                {
                                    <td>Không khả dụng</td>
                                }
                                <td>
                                    <a href="@Url.Action("Delete", "MUser", new {id=u.f_ID })" data-id="@u.f_ID" class="btn btn-default" name="remove" title="Xóa">
                                        <i class="glyphicon glyphicon-remove icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--/.row-->
