@using DoAn_Auction.Helpers;
@using DoAn_Auction.Models
@model List<Auction>
@section title
{
    Tìm kiếm
}

@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.css" rel="stylesheet" />
    <link href="~/assets/css/menucate.css" rel="stylesheet" />
    <link href="~/assets/css/nouislider.css" rel="stylesheet" />
<link href="~/assets/css/jquery.countdown.css" rel="stylesheet" />

    <style type="text/css">
        .not-active {
           pointer-events:painted;
           cursor: pointer;
        }   
        .added{
            color: #ef5350;
        }
        .img-main {
            height: 250px;
        }
    </style>
}

@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/mimity.js"></script>
    <script src="~/assets/js/nouislider.js"></script>
<script src="~/assets/js/jquery.countdown.js"></script>

    <script>
        $("#cbosort").change(function () {
            $('#frmSearch').submit();
            //var sort = $(this).find('option:selected').val();
            //var q =  $(this).data('q');
            //var cat = $(this).data('cat');
            //var params = { "q": q, "cat": cat,"sort":sort,"page":1 };
            //var url = '/Search/sort/';
            // $.ajax({
            //    type: 'POST',
            //    url: url,
            //    data: params,
            //    async: false,
            //    //success: function (data) {
            //    //    console.log(data);
            //    //    $('#result').html();
            //    //}
            // })
            //.done(function (data) {
            //    //$.each(data, function (idx, p) {
            //    //    $('#ProName').append(p.ProName);
            //    //});
            //    //location.reload();
            //})
            //    .fail(function (data) {
            //        console.log(data);
            //        alert('fail');
            //    });
        });
        $('[data-countdown]').each(function () {
            var $this = $(this), finalDate = $(this).data('countdown');
            $this.countdown(finalDate, function (event) {
                $this.html(event.strftime(''
              + '<span class="countdown-section"><span class="countdown-amount">%D</span><span class="countdown-period">Ngày</span></span>'
              + '<span class="countdown-section"><span class="countdown-amount">%H</span><span class="countdown-period">Giờ</span></span>'
              + '<span class="countdown-section"><span class="countdown-amount">%M</span><span class="countdown-period">Phút</span></span>'
              + '<span class="countdown-section"><span class="countdown-amount">%S</span><span class="countdown-period">Giây</span></span>'
              ));
            });
        });
    </script>
@foreach (var p in Model) { 
    <script type="text/javascript">
        $('@String.Copy("#addFavo"+p.ProID.ToString())').on('click', function () {
            var proid = $(this).data('proid');
            var idtag = $(this).data('idtag');
            var params = { "ProID": proid };
            var url = '/Account/AddFavo/';
            $.ajax({
                type: 'POST',
                url: url,
                data: params,
                dataType: 'json',
                async: false,
                @*success: function (data) {
                console.log(data);
                //location.reload();
                $('@String.Copy("#addFavo"+p.ProID.ToString())').addClass('added');
            }*@
            })
            .done(function (data) {
                //location.reload();
                $(idtag).attr("data-original-title", "Đã yêu thích");
                $(idtag).css("color", "#ef5350");
                $(idtag).attr("onclick", "return false;");
                $(idtag).attr("data-idtag", "disabled");
                $(idtag).attr("id", "disabled");

            })
            .fail(function (data) {
                console.log(data);
                alert('Đã thêm vao danh sách');
            });
        });
    </script>
}
}
<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Tìm kiếm</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Main Content -->
<div class="container m-t-2">
    <div class="row">

        <!-- New Arrivals & Best Selling -->
        <div class="col-md-3 m-b-1">
            <div class="navbar-vertical">
                <div class="header title"><span>Categories <i class="fa fa-navicon pull-right"></i></span></div>
                @Html.Action("List", "Category")
            </div><!-- end navbar-vertical -->

        </div>
        <!-- End New Arrivals & Best Selling -->

        <div class="clearfix visible-sm visible-xs"></div>

        <div id="result" class="col-md-9">

            <!-- Featured -->
            <div class="title"><span>Kết quả</span></div>
            <!-- Product Sorting Bar -->
            <div class="product-sorting-bar">
                <div>
                    Sắp xếp
                    <form id="frmSearch" action="@Url.Action("Result", "Search")">
                        <select id="cbosort" name="sort" class="selectpicker" data-width="200px" data-q="@ViewBag.q" data-cat="@ViewBag.cat">
                            <option value="0" @{string selected = null; if (ViewBag.sort == 0) { selected = "selected"; }} @selected>Thời gian kết thúc giảm dần</option>
                            <option value="1" @{ selected = null; if (ViewBag.sort == 1) { selected = "selected"; }} @selected>Giá tăng dần</option>
                        </select>
                        <input type="hidden" class="form-control" name="q" value="@ViewBag.q">
                        <input type="hidden" class="form-control" name="cat" value="@ViewBag.cat">
                        </form>
</div>
                @*<div>
                    Show
                    <select name="show" class="selectpicker" data-width="60px">
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                    </select> per page
                </div>*@
            </div>
            <!-- End Product Sorting Bar -->
            @foreach (var p in Model)
            {
                <div class="col-sm-4 col-md-3 box-product-outer result2">
                    <div class="box-product">
                        <div id="productList" class="img-wrapper">
                            <a href="@Url.Action("Detail", "Product", new { id = p.ProID })" data-toggle="tooltip" title="Chi tiết">
                                <img class="img-main" alt="Product" src="~/Images/sp/@p.ProID/main.jpg">
                            </a>
                            @if (Convert.ToDateTime(p.TimeStart).AddHours(6) > DateTime.Now)
                            {
                                <div class="tags tags-left">
                                <span class="label-tags"><span class="label label-success arrowed-right">Mới</span></span>
                            </div>
                            }
                            @if (p.PriceBuy > 0 && p.PriceHighest < p.PriceBuy)
                            {
                                <div class="tags tags-right">
                                    <span class="label-tags"><span class="label label-danger arrowed">Mua ngay</span></span>
                                    <span class="label-tags"><span class="label label-primary arrowed">@String.Format("{0:n0}", p.PriceBuy)VNĐ</span></span>
                                </div>
                            }
                            @*<div class="tags">
                                    <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                                </div>*@
                                @*<div class="tags tags-left">
                                        <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                                    </div>*@
                                <div class="option">
                                    @if (CurrentContext.IsLogged() == false)
                                    {
                                        <a href="#" data-toggle="tooltip" title="Bạn chưa đăng nhập"><i class="fa fa-gavel"></i></a>
                                        <a href="#" data-toggle="tooltip" title="Bạn chưa đăng nhập" class="wishlist"><i class="fa fa-heart"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Detail", "Product", new { id = p.ProID })" data-toggle="tooltip" title="Đấu giá"><i class="fa fa-gavel"></i></a>
                                        var UserID = CurrentContext.GetCurUser().f_ID;
                                        var ctx = new QLDauGiaEntities();
                                        if (!ctx.Favorites.Where(f => f.UserID == UserID).Any(f => f.ProID == p.ProID))
                                        {
                                            <a id="@String.Copy("addFavo"+p.ProID.ToString())" href="javascript:;" data-toggle="tooltip"
                                               title="Thêm vào yêu thích" data-proid="@p.ProID" data-idtag="@String.Copy("#addFavo"+p.ProID.ToString())" class="wishlist "><i class="fa fa-heart"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" data-toggle="tooltip" title="Đã yêu thích" class="wishlist" onclick="return false;"><i class=" fa fa-heart added"></i></a>
                                        }
                                    }
                                </div>
                            </div>
                        <div class="countdown">
                            <span id="future_date_2_14" class="id_countdown is-countdown">
                                <span id="clock2" data-countdown="@p.TimeEnd.ToString("MM/dd/yyyy hh:mm:ss tt")" class=" countdown-row countdown-show4">

                                </span>
                            </span>
                        </div>
                            <h4><a id="ProName" href="@Url.Action("Detail", "Product", new { id = p.ProID })">@p.ProName</a></h4>
                            <div class="price">
                                <div>
                                    <span class="label-tags"><span class="label label-info arrowed-right">Giá hiện tại: </span></span>
                                    @String.Format("{0:n0}", p.PriceCurrent) VNĐ
                                </div>
                                @*<span class="price-old">$15.00</span>*@
                            </div>
                        <div class="price">
                            <div>
                                <span class="label-tags"><span class="label label-info arrowed-right">Người giữ giá: </span></span>
                                @{string f_Name = null; string eName = null;}
                                @if(p.Customer!=0){
                                var ctx = new QLDauGiaEntities();
                                var u = ctx.Users.Where(us => us.f_ID == p.Customer).FirstOrDefault();

                                f_Name=u.f_Name;
                                for (int i = 0; i < u.f_Name.Length - 1; i++)
                                {
                                eName = eName + "*";
                                }
                                eName = eName + u.f_Name[u.f_Name.Length - 1];
                                }
                                @eName
                            </div>
                            @*<span class="price-old">$15.00</span>*@
                        </div>

                        <div class="price">
                            <div>
                                <span class="label-tags"><span class="label label-info arrowed-right">Số lượt đấu giá: </span></span>
                                @{
                                    int Amount = 0;
                                    var atx = new QLDauGiaEntities();
                                    if (atx.AuctionHistories.Any(a => a.ProID == p.ProID))
                                    {
                                        var ah = atx.AuctionHistories.Where(a => a.ProID == p.ProID).GroupBy(a => a.ProID).FirstOrDefault();
                                        if (ah.Count() > 0)
                                        {
                                            Amount = ah.Count();
                                        }
                                    }
                                }
                                @Amount
                            </div>
                            @*<span class="price-old">$15.00</span>*@
                        </div>
                            @*<div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <a href="#">(5 reviews)</a>
                                </div>*@
                        </div>
                    </div>
            }
            <ul class="pagination col-sm-12">
                @if (ViewBag.CurPage == 1)
                {
                    <li class="disabled"><a href="">&laquo;</a></li>
                }
                else
                {
                    <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@(ViewBag.CurPage-1)">&laquo;</a></li>
                }
                @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    if (ViewBag.CurPage == i)
                    {
                        <li class="active"><a href="?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@i">@i</a></li>
                    }
                }
                @*<li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>*@
                @if (ViewBag.CurPage == ViewBag.Pages)
                {
                    <li class="disabled"><a href="">&raquo;</a></li>
                }
                else
                {
                    <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@(ViewBag.CurPage+1)">&raquo;</a></li>
                }

            </ul>
            <!-- End Featured -->

            <div class="clearfix visible-sm visible-xs"></div>

        </div>

    </div>

    <!-- Brand & Clients -->
    @*<div class="row">
        <div class="col-xs-12 m-t-1">
            <div class="title text-center"><span>Brand & Clients</span></div>
            <div class="brand-slider owl-controls-top-offset">
                <div class="brand">
                    <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>*@
    <!-- End Brand & Clients -->

</div>
<!-- End Main Content -->