@using DoAn_Auction.Models;
@model List<Auction>

@section title
{
    Danh sách yêu thích
}
@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
}
@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.accept').click(function () {
                var proid = $(this).data('proid');
                var params = { "ProID": proid };
                var url = '/Account/RemoveFavorite/';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: params,
                    async: false,
                })
                .done(function (data) {
                });
                $(this).parents('tr').first().remove();
            });
        });
    </script>

}
<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Danh sách yêu thích</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">

        <!-- Account Sidebar -->
        <div class="col-sm-4 col-md-3 m-b-3">
            @Html.Action("Menu", "Account", new { current = ViewBag.Current })
        </div>
        <!-- End Account Sidebar -->
        <!-- My Profile Content -->
        <div class="col-sm-8 col-md-9">
            <div class="title m-b-2"><span>Order History</span></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Sản phẩm</td>
                                    <td>Giá hiện tại</td>
                                    <td class="text-center">Tình trạng</td>
                                    <td class="text-center">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pro in Model)
                                {
                                    <tr class="accept">
                                        <td><a href="@Url.Action("Detail", "Product", new { id = pro.ProID })">@pro.ProName</a></td>
                                        <td>@String.Format("{0:n0}", pro.PriceCurrent) VNĐ</td>
                                        <td class="text-center">
                                            @if (pro.Status == false || Convert.ToDateTime(pro.TimeEnd) < DateTime.Now)
                                            {
                                                <span class="label label-warning">
                                                    Hết hạn đấu giá
                                                </span>
                                            }
                                            else
                                            {
                                                if (Convert.ToDateTime(pro.TimeEnd).AddHours(-2) < DateTime.Now)
                                                {
                                                    <span class="label label-danger">
                                                        Sắp hết hạn
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="label label-success">
                                                        Đang đấu giá
                                                    </span>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            <button type="button" data-proid="@pro.ProID" class="btn bnt-sm btn-theme accept" id="accept" name="accept">
                                                <i class="fa fa-remove"></i> Bỏ thích
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End My Profile Content -->

    </div>
</div>
<!-- End Main Content -->