@using DoAn_Auction.Models;
@model List<Review>

@section title
{
    Thông tin đánh giá
}
@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
}
@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>
}
<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Lịch sử đấu giá</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">

        <!-- Account Sidebar -->
        <div class="col-sm-4 col-md-3 m-b-3">
            @*<div class="account-picture"><img src="images/demo/user.png" alt="" class="img-circle img-responsive"></div>
            <h4 class="text-center m-b-3">John Thor</h4>*@
            @Html.Action("Menu", "Account", new { current = ViewBag.Current })
            @*<ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="@Url.Action("Profile","Account")">Thông tin tài khoản</a></li>
                <li role="presentation"><a href="@Url.Action("ChangePassword","Account")">Đổi mật khẩu</a></li>
                <li role="presentation"><a href="@Url.Action("AuctionHistory","Account")">Lịch sử đấu giá</a></li>
                <li role="presentation"><a href="@Url.Action("Bidding","Account")">Sản phẩm đang đấu giá</a></li>
                <li role="presentation"><a href="@Url.Action("YourProduct", "Account")">Sản phẩm đang được đấu giá</a></li>
                <li role="presentation"><a href="@Url.Action("YourCustomer", "Account")">Sản phẩm đã có người mua</a></li>
            </ul>*@
        </div>
        <!-- End Account Sidebar -->
        <!-- My Profile Content -->
        <div class="col-sm-8 col-md-9">
            <div class="title m-b-2"><span>Order History</span></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Sản phẩm</td>
                                    <td>Người gửi</td>
                                    <td class="text-center">Đánh giá</td>
                                    <td>Lời nhắn</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in Model)
                                {
                                    <tr>

                                        @{
                                    var ctx = new QLDauGiaEntities();
                                    var pro = ctx.Auctions.Where(p => p.ProID == @r.ProID)
                                        .FirstOrDefault();
                                    var reviewer = ctx.Users.Where(rv => rv.f_ID == r.Reviewer)
                                        .FirstOrDefault();
                                    string eName = null;

                                    for (int i = 0; i < reviewer.f_Name.Length - 1; i++)
                                    {
                                        eName = eName + "*";
                                    }
                                    eName = eName + reviewer.f_Name[reviewer.f_Name.Length - 1];
                                        }
                                        <td>@pro.ProName</td>
                                        <td>@eName</td>
                                            @if (r.Type == true)
                                            {
                                                <td class="text-center">Được đánh giá <i class="fa fa-thumbs-up"></i></td>
                                            }
                                            else
                                            {
                                                <td class="text-center">Được đánh giá <i class="fa fa-thumbs-down"></i></td>
                                            }
                                        <td class="">@r.Comment</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End My Profile Content -->

    </div>
</div>
<!-- End Main Content -->